@model Banker.Models.ViewModels.Transection

@{
    ViewData["Title"] = "Deposit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Deposit</h1>
<hr />
<div>
    @if (ViewBag.Error != null)
    {
        <span class="text-end alert alert-danger">@ViewBag.Error</span>
        <br />
        <br />
    }
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Deposit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label">Dipositor Name</label><span style="color:red">*</span>
                <input asp-for="Name" type="text" class="form-control"  onkeyup="lettersOnly(this)" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label><span style="color:red">*</span>
                <input asp-for="Amount" type="number" class="form-control" onkeyup="NumbersOnly(this)" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remark" class="control-label">Source</label><span style="color:red">*</span>
                <select class="form-control" asp-for="Remark" name="Remark">
                    <option selected>..Please select..</option>
                    <option value="Income">Income</option>
                    <option value="Gift">Gift</option>
                    <option value="Lottery">Lottery</option>
                    <option value="Other">Other</option>
                </select>
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Deposit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Balance">Back to Balance</a>
</div>


@section Scripts {
    <script src="~/js/transaction.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}