@model Banker.Models.CollectDataModel;
@{
    ViewData["Title"] = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>


<h1 class="text-center text-primary">Report Dashboard</h1>

<hr />
<div class="container">
    @if (Model.Transections.Count == 0)
    {
        <div class="col-12 text-center justify-content-center">
            <span class="text-center text-danger">No Transaction to show. Please add a transaction!</span>
        </div>
    }
    else
    {
<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-primary active">
        <input type="radio" name="options" id="option1" checked onchange="HandleChange()"> Monthly
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="options" id="option2" onchange="HandleChange()"> Yearly
    </label>
</div>
    <a class="float-right btn btn-primary" asp-controller="Report" asp-action="GenarateReport">Genarate Report</a>
    <br />
    <br />
<div id="report"></div>
        
    }
</div>

@section Scripts {
    <script src="~/js/report.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}