@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (ViewBag.Success != null)
    {
        <span class="alert alert-Success">@ViewBag.Success</span>

    }
    @if (ViewBag.Success != null)
    {
        <span class="alert alert-danger">@ViewBag.Error</span>
    }
    <h1 class="display-4">Welcome To <b>Bank</b>u</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <h3 class="display-4"> @User.FindFirst("Name").Value</h3>
    }


</div>
