USE [master]
GO
/****** Object:  Database [Bank]    Script Date: 1/2/2022 10:27:07 AM ******/
CREATE DATABASE [Bank]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bank].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bank]
GO
/****** Object:  Table [dbo].[LoginHistory]    Script Date: 1/2/2022 10:27:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginHistory](
	[OId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [nvarchar](64) NOT NULL,
	[Updated_at] [datetime] NULL,
	[Updated_by] [nvarchar](64) NULL,
 CONSTRAINT [PK_LoginHistory] PRIMARY KEY CLUSTERED 
(
	[OId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TansactionAudit]    Script Date: 1/2/2022 10:27:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TansactionAudit](
	[OId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[TransId] [varchar](32) NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Amount] [decimal](19, 2) NOT NULL,
	[Source] [nvarchar](64) NOT NULL,
	[TransactionType] [nvarchar](64) NOT NULL,
	[Type] [nvarchar](64) NULL,
	[LogType] [nvarchar](64) NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_TansactionAudit] PRIMARY KEY CLUSTERED 
(
	[OId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 1/2/2022 10:27:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[OId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[TransId] [varchar](32) NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Amount] [decimal](19, 2) NOT NULL,
	[Source] [nvarchar](64) NOT NULL,
	[TransactionType] [nvarchar](64) NOT NULL,
	[Type] [nvarchar](64) NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [nvarchar](64) NOT NULL,
	[Updated_at] [datetime] NULL,
	[Updated_by] [nvarchar](64) NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[OId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 1/2/2022 10:27:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[OId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
	[Address] [nvarchar](128) NULL,
	[Gender] [nvarchar](64) NULL,
	[Role] [nvarchar](64) NOT NULL,
	[Phone] [nvarchar](64) NOT NULL,
	[Email] [nvarchar](64) NOT NULL,
	[Password] [nvarchar](64) NOT NULL,
	[Balance] [decimal](19, 2) NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [nvarchar](64) NOT NULL,
	[Updated_at] [datetime] NULL,
	[Updated_by] [nvarchar](64) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[OId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LoginHistory] ON 

INSERT [dbo].[LoginHistory] ([OId], [UserId], [DateTime], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (3, 1, CAST(N'2021-11-28T12:57:04.000' AS DateTime), CAST(N'2021-11-28T12:57:04.000' AS DateTime), N'Azad', NULL, NULL)
INSERT [dbo].[LoginHistory] ([OId], [UserId], [DateTime], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (8, 1, CAST(N'2021-11-28T15:19:06.533' AS DateTime), CAST(N'2021-11-28T15:19:06.533' AS DateTime), N'Azad', NULL, NULL)
INSERT [dbo].[LoginHistory] ([OId], [UserId], [DateTime], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (9, 1, CAST(N'2021-11-28T15:36:03.007' AS DateTime), CAST(N'2021-11-28T15:36:03.007' AS DateTime), N'Azad', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[LoginHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[TansactionAudit] ON 

INSERT [dbo].[TansactionAudit] ([OId], [UserId], [TransId], [Name], [Date], [Amount], [Source], [TransactionType], [Type], [LogType], [Created_at], [Created_by]) VALUES (1, 1, N'20211208-100021000', N'Azad', CAST(N'2021-12-09T14:17:21.830' AS DateTime), CAST(100.00 AS Decimal(19, 2)), N'Medical', N'Withdraw', N'Checkup', N'Edited', CAST(N'2021-12-09T14:17:21.830' AS DateTime), N'Azad')
INSERT [dbo].[TansactionAudit] ([OId], [UserId], [TransId], [Name], [Date], [Amount], [Source], [TransactionType], [Type], [LogType], [Created_at], [Created_by]) VALUES (2, 1, N'20211205-100021000', N'azad', CAST(N'2021-12-09T14:49:42.517' AS DateTime), CAST(200.00 AS Decimal(19, 2)), N'Travel', N'Withdraw', N'Visa', N'Edited', CAST(N'2021-12-09T14:49:42.517' AS DateTime), N'azad')
INSERT [dbo].[TansactionAudit] ([OId], [UserId], [TransId], [Name], [Date], [Amount], [Source], [TransactionType], [Type], [LogType], [Created_at], [Created_by]) VALUES (3, 1, N'20211207-100021000', N'Azad', CAST(N'2021-12-09T17:01:26.640' AS DateTime), CAST(100.00 AS Decimal(19, 2)), N'Lottery', N'Deposit', N'', N'Deleted', CAST(N'2021-12-09T17:01:26.640' AS DateTime), N'Azad')
SET IDENTITY_INSERT [dbo].[TansactionAudit] OFF
GO
SET IDENTITY_INSERT [dbo].[Transaction] ON 

INSERT [dbo].[Transaction] ([OId], [UserId], [TransId], [Name], [Date], [Amount], [Source], [TransactionType], [Type], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (1, 1, N'20170101-100021000', N'Azad', CAST(N'2017-01-01T10:00:21.000' AS DateTime), CAST(500.00 AS Decimal(19, 2)), N'Income', N'Deposit', NULL, CAST(N'2017-01-01T10:00:21.000' AS DateTime), N'Azad', NULL, NULL)
INSERT [dbo].[Transaction] ([OId], [UserId], [TransId], [Name], [Date], [Amount], [Source], [TransactionType], [Type], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (2, 1, N'20170102-100021000', N'Azad', CAST(N'2017-01-02T10:00:21.000' AS DateTime), CAST(100.00 AS Decimal(19, 2)), N'Gift', N'Deposit', NULL, CAST(N'2017-01-02T10:00:21.000' AS DateTime), N'Azad', NULL, NULL)
INSERT [dbo].[Transaction] ([OId], [UserId], [TransId], [Name], [Date], [Amount], [Source], [TransactionType], [Type], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (3, 1, N'20170103-100021000', N'Azad', CAST(N'2017-01-03T10:00:21.000' AS DateTime), CAST(100.00 AS Decimal(19, 2)), N'Lottery', N'Deposit', NULL, CAST(N'2017-01-03T10:00:21.000' AS DateTime), N'Azad', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Transaction] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([OId], [Name], [Address], [Gender], [Role], [Phone], [Email], [Password], [Balance], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (1, N'Azad', N'Dhaka -1207', N'Male', N'admin', N'0123456789', N'azad@Bank.com', N'Azad123456', CAST(688.00 AS Decimal(19, 2)), CAST(N'2021-11-28T12:50:11.000' AS DateTime), N'Azad', CAST(N'2021-12-13T15:29:08.283' AS DateTime), N'Azad')
INSERT [dbo].[User] ([OId], [Name], [Address], [Gender], [Role], [Phone], [Email], [Password], [Balance], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (2, N'ashis', N'dhaka, 1207', N'Male', N'customer', N'0123456789', N'ashish@g.com', N'Abc12345', CAST(100.00 AS Decimal(19, 2)), CAST(N'2021-11-28T14:21:45.000' AS DateTime), N'ashis', NULL, NULL)
INSERT [dbo].[User] ([OId], [Name], [Address], [Gender], [Role], [Phone], [Email], [Password], [Balance], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (3, N'adib', N'Adabor', N'Male', N'customer', N'012345678', N'a@a.com', N'Abcd1234', CAST(1600.00 AS Decimal(19, 2)), CAST(N'2021-11-30T15:08:50.967' AS DateTime), N'a', CAST(N'2021-12-30T18:14:05.327' AS DateTime), N'Adib')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[LoginHistory]  WITH CHECK ADD  CONSTRAINT [FK_LoginHistory_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([OId])
GO
ALTER TABLE [dbo].[LoginHistory] CHECK CONSTRAINT [FK_LoginHistory_User]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([OId])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_User]
GO
USE [master]
GO
